:root {
    /* brwn-clrs */
    --brown-400: #AD6342;
    /* grn-clrs */
    --bar-green: #5d6857;
    /* grey-clrs */
    --whitee: #fff;
    --mid-grey-300: #808080;    
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100v;
}
/*Nav-bar section*/

header{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    background-color: #FCF6F2;
    box-shadow: 0 1px 4px hsl(0 4% 15%/10%);
    padding: 10px;
}
.nav{
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}
#cart-icon{
    cursor: pointer;
}
/* End of Nav-bar */

/* Cart section */
.cart{
    position:fixed;
    top:0;
    right:-100%;
    width:360px;
    min-height: 100vh;
    padding:20px;
    background-color: #ECE3DE;
    box-shadow: -2px 0 4px hsl(0 4% 15%/10%);
    transition: 0.3s;
}
.active{
    right:0;
}
.cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}
.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap:1rem;
    margin-top: 1rem;
}
.card-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}
.detail-box{
    display: grid;
    row-gap: 0.5rem;
}
.card-product-title{
    font-size: 1rem;
    text-transform: uppercase !important;
}
.cart-price{
    font-weight: 500;
}
.cart-quantity{
    border: 1px solid black;
    outline-color: #ECE3DE;
    cursor: pointer;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}
.cart-remove{
    font-size: 24px;
    color:red;
    cursor: pointer;
}
.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid #ad6243
}
.total-title{
    font-size: 1rem;
    font-weight: 600;
}
.total-price{
    margin-left: 0.5rem !important;
}
.btn-buy{
display: flex;
margin: 1.5rem auto 0 auto;
padding: 12px 20px;
border: none;
background: #f5671b;
font-size: 1rem;
font-weight: 500;
cursor: pointer;
color: white;
}
.btn-buy:hover{
    background-color: #ad6243;

}
#close-cart{
    position: absolute;
    top:1rem;
    right: 0.8rem;
    font-size: 2rem;
    cursor: pointer;
}
/* Cart section */

/* Section-two */
.section-two{
    margin-top: 150px;
}
.header{
    letter-spacing: 5px;
    font-size: 50px;
}
.feat{
    text-decoration: none;
    color: #AD6342;
}
.feat:hover{
    color: #AD6342;
    text-decoration:underline;
}
.bi-bag-plus-fill{
    cursor: pointer;
}
.product-title{
    cursor: pointer;
}
/*End of Section-two */

@media (max-width:1300px){
    .nav-body{
        display: none;
    }
    .log-in{
        display: none;
    }
}

.product-img:hover {
    cursor: pointer;
}

/* Product Page */
#product-img {
    padding: 0 !important;
    margin-top: 5em !important;
}

#product-hd {
    padding: 0 !important;
    margin-top: 1.7em !important;
}

div > input.qty-no {
    width: 85px;
    height: 40px !important;
    border: 1px solid var(--mid-grey-300)!important;
    height: 25px;
}

#btn-add {    
    background-color: var(--whitee);
    border: 1px solid var(--brown-400);
    color: var(--brown-400);
}

#btn-buy {    
    background-color: var(--bar-green);
    /* border: 1px solid var(--brown-400); */
    color: var(--whitee);
}

/* Accordion */
.accordion-underline {
    border-top: 1px solid rgba(141, 141, 141, 0.3)
}

/* Footer */
footer {
    background-color: #FCF6F2;
}

#colFormLabelSm {
    border: 3px solid var(--brown-400);
    border-radius: 0;
    margin-top: 7px !important;
}


input.rounded-0 {
    background-color: #ad6243;
    color: #FCF6F2;
}

.bottom-bar {
    background-color: var(--bar-green);
}



@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }